body { background-color: #A0B0A0; color: #000A00; }
.wide { width: 100%; }
.tall { height: 4em; }
.tall2 { height: 2em; }
.tall4 { height: 4em; }
.quarter { width: 24%; }
.half { width: 49%; }
.higher { height: 2em; }
div.vspacer { height: 0.5em; }
div { display: inline-block; text-align: center; }
h1 { white-space: nowrap; text-align: center; }